/*

!/.editorconfig
!/.ddev
!/.gitignore
!/auth.json
!/composer.json
!/composer.lock
!/deploy.php
!/phpstan.neon
!/rector.php

!/.github
!/app
!/artifacts
!/dev
!/packages
!/patches
!/tests
!/pub
/pub/*

/dev/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
app/etc/env.php
